@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: 'EliceDigitalBaeum';
  color: #333;
  border: 3px solid;
    margin: 10px auto;
    width: 900px;
    padding: 1%;
}

body {
   background-image: url("./background.png");
   background-attachment: fixed;
}

h1 {
  color: #2e4659;
  text-align: center;
}

h4 {
    text-align: center;
}


hr {
   border: 2px dashed #3e94e1; 
}

details {
    margin: 10px auto;
}

button {
    border: 0px;
    background: #fff;
    text-align: center;
    padding: 0px;
}
