@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: 'EliceDigitalBaeum';
  color: #333;
}

body {
   background-image: url("./background.png");
   background-attachment: fixed;
}

h1 {
  color: #2e4659;
  text-align: center;
}

h4 {
    text-align: center;
}

table {
    border: 3px solid;
    background: #fff;
    margin: 10px auto;
    width: 900px;
    padding: 1%;
}

td {
    padding: 5%;
}

hr {
   border: 2px dashed #3e94e1; 
}

details {
    margin: 10px auto;
}

button {
    border: 0px;
    background: #fff;
    text-align: center;
    padding: 0px;
}

.tooltip {
    display: inline-block;
}

.tooltip-text {
    display: none;
    width: 200px;
    padding-left: 5px;
    background-color: #fff;
    border: 1px solid #333;
    position: absolute;
}

.tooltip:hover .tooltip-text {
    display: block;
}
